body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #222;
    color: #fff;
}

button {
    background-color: #8A2BE2;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.8);
}

p {
    margin-top: 15px;
}

a {
    color: #8A2BE2;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}